<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head ('Home')"/>
<body>
<nav th:replace="fragments/navbar :: navbar" />
<main>
    <form action="/posts/create" th:action="@{/posts/create}" method="post" th:object="${post}">
        <input id="title" name="title" type="text" class="validate" th:field="*{title}"/>
        <label for="title">Title</label>

        <textarea id="body" name="body" class="materialize-textarea" th:field="*{body}" />
        <label for="body">Body</label>
        <button type="submit" value="submit" class="btn waves-effect">Submit</button>


    </form>
</main>

<footer th:replace="fragments/footer :: footer" />
<script th:replace="fragments/scripts :: scripts" />
</body>
</html>