<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<nav th:fragment="navbar" class="teal lighten-2">
    <div class="nav-wrapper">
        <a href="/"><img th:src="@{'/img/tea.png'}" class="tea-logo" alt="tea" /></a>
        <ul id="nav-mobile" class="right">
            <li><a href="/posts">Blog Posts</a></li>
            <li><a href="/roll-dice">Dice Roller</a></li>
            <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Log In</a></li>
            <li><a sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/profile}">View Profile</a></li>
            <form th:action="@{/logout}" th:method="post">
                <li><a sec:authorize="isAuthenticated()" class="waves-effect btn-small">Logout</a></li>
            </form>
        </ul>
    </div>
</nav>

</body>
</html>