<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head ('Home')"/>
<body>
<nav th:replace="fragments/navbar :: navbar" />
<main class="container">
    <h4>Register Today!</h4>
    <form action="" th:action="@{/register}" method="post" th:object="${user}">

        <div class="input-field">
            <label for="username">Username</label>
            <input id="username" type="text" th:field="*{username}" />
        </div>

        <div class="input-field">
            <label for="email">E-mail</label>
            <input id="email" type="text" th:field="*{email}" />
        </div>

        <div class="input-field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
        </div>

        <button type="submit" value="Register" class="waves-effect btn-small">Register</button>
    </form>

</main>
    <footer th:replace="fragments/footer :: footer" />
    <script th:replace="fragments/scripts :: scripts" />
</body>
</html>