<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: head ('Oops, ' + ${error})"/>
</head>
<body>

<nav th:replace="fragments/navbar :: navbar" />
<main class="container">
    <h3 th:text="${error}"></h3>
    <br/>
    <a href="/" class="waves-effect btn"><i class="material-icons right">home</i>Go Home</a>
    <br/>
    <br/>
    <img th:src="@{'/img/spiltTea.jpg'}" class="spilt-tea" alt="spilt-tea"/>
</main>

<footer th:replace="fragments/footer :: footer" />
<script th:replace="fragments/scripts :: scripts" />
</body>
</html>