body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.king-arthur {
    border-radius: 50%;
    /*background-image: url("../img/king-arthur.jpg");*/
    /*width: 75%;*/
    /*height: 75%;*/
}