body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    height: 60px;
    padding: 10px;
}

.homepage {
    background-image: url("/img/teaAndPastries.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.homepage-text{
    font-family: 'Dancing Script', cursive;
    color: #e0f2f1;
}

.tea-logo {
    height: 50px;
    width: 50px;
}

.show-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}