<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head ('Home')"/>

<body>
<main>
    <nav th:replace="fragments/navbar :: navbar" />

<p>You guessed <span th:text="${n}"></span></p>
<p>The correct number is <span th:text="${correctNumber}"></span></p>
<p th:if="${verify}">You guessed correctly!</p>
<p th:if="!${verify}">That's not correct. Try again.</p>
</main>
<footer th:replace="fragments/footer :: footer" />

<script th:replace="fragments/scripts :: scripts" />
</body>
</html>