<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head ('Home')"/>
<body>

<nav th:replace="fragments/navbar :: navbar" />
<main>
<h3>Guess a Number</h3>

<a href="/roll-dice/1">1</a>
<a href="/roll-dice/2">2</a>
<a href="/roll-dice/3">3</a>
<a href="/roll-dice/4">4</a>
<a href="/roll-dice/5">5</a>
<a href="/roll-dice/6">6</a>
</main>

<footer th:replace="fragments/footer :: footer" />

<script th:replace="fragments/scripts :: scripts" />
</body>
</html>

