<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head (title)">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <title th:text="${title}"></title>
</head>
<body>

<nav th:fragment="navbar" class="teal lighten-2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/hello">Hello</a></li>
            <li><a href="/roll-dice">Dice Roller</a></li>
        </ul>
    </div>
</nav>

<footer th:fragment="footer" class="page-footer teal">
    <p class="offwhite-text">Footer Stuff</p>
</footer>

<script th:fragment="materialize-script" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>